html {
    font-size: 62.5%;
    /**Reset para REMS - 62,5% = 10px de 16px **/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

/**Global**/
.contenedor {
    max-width: 120rem;
    /** = 1200px **/
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/** Utilidades **/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Header */
.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 5rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

/** Navegacion **/
.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    margin-right: 2rem;
}

/*le da color al boton al pasar por el*/
.navegacion a:hover {
    color: greenyellow;
}

/*quita margen al ultimo boton*/
.navegacion a:last-of-type {
    margin: 0;
}

.iconos-nosotros {
}